# general
Thumbs.db
.DS_Store
*~
*.log

# java
*.class
hs_err_pid*

# maven
target/

# ivy
lib/mvn-deps/
logs/
src_dataClasses/
src_wsproc/
.project
jmeterdsl-performance-test/.classpath
jmeterdsl-performance-test/.gitignore
jmeterdsl-performance-test/.project
jmeterdsl-performance-test/.settings/org.eclipse.core.resources.prefs
jmeterdsl-performance-test/.settings/org.eclipse.jdt.core.prefs
.project
java-jmeterdsl-load-test-reference/.settings/org.eclipse.core.resources.prefs
java-jmeterdsl-load-test-reference/.settings/org.eclipse.jdt.core.prefs
java-jmeterdsl-load-test-reference/.settings/org.eclipse.wst.common.component
java-jmeterdsl-load-test-reference/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
java-jmeterdsl-load-test-reference/.settings/org.eclipse.wst.common.project.facet.core.xml
java-jmeterdsl-load-test-reference/.settings/org.eclipse.wst.css.core.prefs
java-jmeterdsl-load-test-reference-demo/.settings/org.eclipse.core.resources.prefs
java-jmeterdsl-load-test-reference-demo/.settings/org.eclipse.jdt.core.prefs
java-jmeterdsl-load-test-reference-demo/.settings/org.eclipse.wst.common.component
java-jmeterdsl-load-test-reference-demo/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
java-jmeterdsl-load-test-reference-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
java-jmeterdsl-load-test-reference-demo/.settings/org.eclipse.wst.css.core.prefs
java-jmeterdsl-load-test-reference-test/.settings/org.eclipse.core.resources.prefs
java-jmeterdsl-load-test-reference-test/.settings/org.eclipse.jdt.core.prefs
java-jmeterdsl-load-test-reference-test/.settings/org.eclipse.wst.common.component
java-jmeterdsl-load-test-reference-test/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
java-jmeterdsl-load-test-reference-test/.settings/org.eclipse.wst.common.project.facet.core.xml
java-jmeterdsl-load-test-reference-test/.settings/org.eclipse.wst.css.core.prefs
MY-PRODUCT-NAME/.settings/org.eclipse.core.resources.prefs
MY-PRODUCT-NAME/.settings/org.eclipse.jdt.core.prefs
MY-PRODUCT-NAME/.settings/org.eclipse.wst.common.component
MY-PRODUCT-NAME/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
MY-PRODUCT-NAME/.settings/org.eclipse.wst.common.project.facet.core.xml
MY-PRODUCT-NAME/.settings/org.eclipse.wst.css.core.prefs
MY-PRODUCT-NAME-demo/.settings/org.eclipse.core.resources.prefs
MY-PRODUCT-NAME-demo/.settings/org.eclipse.jdt.core.prefs
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.common.component
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.css.core.prefs
MY-PRODUCT-NAME-test/.settings/org.eclipse.core.resources.prefs
MY-PRODUCT-NAME-test/.settings/org.eclipse.jdt.core.prefs
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.common.component
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.common.project.facet.core.xml
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.css.core.prefs
MY-PRODUCT-NAME/.settings/org.eclipse.core.resources.prefs
MY-PRODUCT-NAME/.settings/org.eclipse.jdt.core.prefs
MY-PRODUCT-NAME/.settings/org.eclipse.wst.common.component
MY-PRODUCT-NAME/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
MY-PRODUCT-NAME/.settings/org.eclipse.wst.common.project.facet.core.xml
MY-PRODUCT-NAME/.settings/org.eclipse.wst.css.core.prefs
MY-PRODUCT-NAME-demo/.settings/org.eclipse.core.resources.prefs
MY-PRODUCT-NAME-demo/.settings/org.eclipse.jdt.core.prefs
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.common.component
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.common.project.facet.core.xml
MY-PRODUCT-NAME-demo/.settings/org.eclipse.wst.css.core.prefs
MY-PRODUCT-NAME-test/.settings/org.eclipse.core.resources.prefs
MY-PRODUCT-NAME-test/.settings/org.eclipse.jdt.core.prefs
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.common.component
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.common.project.facet.core.xml
MY-PRODUCT-NAME-test/.settings/org.eclipse.wst.css.core.prefs
