name: Release-Build

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        type: string
        required: true
        default: 14.0.0-b1
        description: the release to introduce (e.g. b1/b2)

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/release.yml@v6
    with:
      mvnArgs: -DignoreSnapshots=true -DreleaseVersion=${{ inputs.releaseVersion }}
